@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url('../public/fonts/headings/PlastoTrial-Regular.otf');
    font-family: 'heading';
}


h1 {
    font-family: heading;

}

p {
    font-family: heading;
}

.hero-bg {
    /* background-image: linear-gradient(15deg,
            hsl(242deg 94% 94%) 29%,
            hsl(242deg 98% 92%) 52%,
            hsl(243deg 100% 90%) 62%,
            hsl(243deg 100% 88%) 69%,
            hsl(243deg 100% 87%) 73%,
            hsl(244deg 100% 85%) 77%,
            hsl(244deg 100% 83%) 80%,
            hsl(244deg 100% 81%) 83%,
            hsl(244deg 99% 79%) 85%,
            hsl(245deg 98% 77%) 87%,
            hsl(245deg 97% 75%) 88%,
            hsl(245deg 96% 73%) 90%,
            hsl(245deg 94% 71%) 91%,
            hsl(245deg 93% 68%) 93%,
            hsl(245deg 92% 66%) 94%,
            hsl(245deg 91% 64%) 95%,
            hsl(245deg 89% 61%) 96%,
            hsl(244deg 88% 59%) 97%,
            hsl(244deg 87% 56%) 98%,
            hsl(243deg 86% 52%) 99%,
            hsl(242deg 96% 47%) 100%); */
            position: relative;
}

.hero-bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/img/bg2.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    border: none;
    transform: rotate(180deg) scaleX(-1);
    z-index: -1;
  }


  .ant-picker-body{
display: none;
  }
  .ant-picker-calendar{
    background-color: #0c05eb;
    display: flex;
    justify-items: center ;
  }
  .ant-picker-calender-header{
width: 100%;
height: 100%;
  }
  .ant-select-selector{
padding: 10px;
  }
  /* :where(.css-dev-only-do-not-override-3mqfnx).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active{
    color: red !important;
    border: ;
  } */
  .ant-radio-button-wrapper{
    background-color: transparent !important;
    color: white;
  }

  .animate-load {
    animation: animate 1.7s infinite ease-in-out;
  }
  
  @keyframes animate {
    0% {
      transform: translateX(-70px);
    }
    100% {
      transform: translateX(150px);
    }
  }